spring:
  application:
    name: medical-appointments-service
  devtools:
    livereload:
      enabled: true
  server:
    port: 8080

  sql:
    init:
      mode: always

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: password

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  app:
    kafka:
      topic-appointments: medical-appointments-topic
